@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="nav-link text-primary bg-warning" asp-area="" asp-controller="Categories" asp-action="Index">Go To Category Page</a>
    <a class="nav-link text-primary bg-warning " asp-area="" asp-controller="Courses" asp-action="Index">Go To Course Page</a>
</div>
